
img{
width: 85%;
margin: 10px auto;
margin-left: 7%;
display:block;
position:absolute;
} 

.buscador{
padding: 5em;
margin-left: 10%;
position: relative;
}

.w3-table{
	margin-top: 5%;
	margin-left: -80px;
    width: 60%;
	
}



tr {background-color: white;
	color: red;
	text-align-last: center;
	
}

th {
    background-color: white;
    
}

.foto{
	position: absolute;
	margin-left: 30px;
	margin-top: -15px;
	width: 10%;
	height: 10%;
}